<html>
    <head>
        <meta charset="utf-8">
        <title>Sistema Cita BD2</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a href="/" class="navbar-brand">Sistema Citas Medicas</a>
        </nav>